<h1>Contacts</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>E-Mail</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
       {{#each model as |contacts|}}
        <tr>
           <td>{{contacts.email}}</td>
            <td>{{contacts.message}}</td>
         </tr>
       {{/each}}
     </tbody>
 </table>
