
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>E-Mail</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
       {{#each model as |contacts|}}
        <tr>
           <td>{{contacts.email}}</td>
            <td>{{contacts.message}}</td>
            <td>
                <button class="btn btn-danger btn-xl" {{action 'deleteContact' contacts}}>Delete</button>
                {{#link-to 'admin.contacts.edit' contacts.id class='btn btn-success btn-xl'}}Edit{{/link-to}}

            </td>
         </tr>
       {{/each}}
     </tbody>
 </table>